<!DOCTYPE html>
<html lang="en" ng-app="blogAdmin">
<head>
    <meta charset="UTF-8">
    <title>Blog 后台管理</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/angular.min.js"></script>
</head>
<body>
    <div class="wrapper" ng-controller="adminCtrl">
        <header>
            <div class="container-fluid head border-bottom">
                <h3>后台管理系统</h3>
                <ul class="nav nav-pills">
                    <% for(var i=0; i<navList.length;i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= navList[i].path %>">
                            <%= navList[i].name %>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="row">
                <div class="left col-3 border-right">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">首页</a></li>
                    </ul>
                </div>
                <div class="right col-9">
                    <div class="container">
                        <div class="item-head border-bottom">
                            <div class="current">
                                分类列表
                            </div>
                        </div>
                        <div class="item-con">
                            <div class="row t-head">
                                <div class="col-sm-4">分类名称</div>
                                <div class="col-sm">状态</div>
                                <div class="col-sm">文章数</div>
                                <div class="col-sm">操作</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">php</div>
                                <div class="col-sm">开启</div>
                                <div class="col-sm">4</div>
                                <div class="col-sm">
                                    <a href="#">删除</a>|<a href="#">修改</a>
                                    <a href="javascript:void (0)" id="logout">退出</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#logout').click(function () {
                $.ajax({
                    type: 'post',
                    url: 'api/logout',
                    success: function (result) {
                        alert(result);
                    }
                });
            });
        });
        var blogAdmin = angular.module('blogAdmin',[]);
        blogAdmin.controller('adminCtrl',function ($scope) {
            console.log(navList);
            $scope.navList = navList;
        })

    </script>
</body>
</html>