body{
    -webkit-font-smoothing: antialiased;
    background: #efefef;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.wrap{
    margin: 20px 0;
    padding: 0 20px;
    background: #ffffff;
}
.breadcrumb{
    background: none;
}

.post footer{
    margin: 20px 0;
    line-height: 30px;
}

.last-post{
    margin: 30px 0;
}








/*后台首页*/
.wrapper{
    min-width: 720px;
}
.head{
    display: flex;
    padding: 30px 15px 15px 15px;
}

.head h3{
    margin-right: 83px;
    padding-left: 49px;
    line-height: 39px;
}
.content{

}
.content .left{
    padding: 0;
    height: 658px;
    background: #fff;
}
.content .left .card{
    border: none;
}

.content .card .card-header{

}
.content .left .list-group-item{
    padding: .75rem 1.25rem .75rem 5rem;
    border-right: none;
}

/*.content .right .row{
    margin: 0;
}*/
.content .right .item-head .current{
    width: 80px;
    border-bottom: 3px solid blue;
    padding: 10px 0;
}
.content .right .item-con{
    margin-top: 15px;
}
.content .right .t-head{
    background-color: rgba(86,61,124,.15);
}






