<%- include('header') -%>
        <div class="content">
            <div class="row">
                <div class="left col-3 border-right">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">角色管理</a></li>
                        <li class="list-group-item"><a href="#">权限管理</a></li>
                    </ul>
                </div>
                <div class="right col-9">
                    <div class="container">
                        <div class="item-head border-bottom">
                            <div class="current">
                                分类列表
                            </div>
                        </div>
                        <div class="item-con">
                            <div class="row t-head">
                                <div class="col-sm-4">角色名称</div>
                                <div class="col-sm">状态</div>
                                <div class="col-sm">权限修改</div>
                                <div class="col-sm">操作</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">php</div>
                                <div class="col-sm">开启</div>
                                <div class="col-sm">4</div>
                                <div class="col-sm">
                                    <a href="#">删除</a>|<a href="#">修改</a>
                                    <a href="javascript:void (0)" id="logout">退出</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#logout').click(function () {
                $.ajax({
                    type: 'post',
                    url: '/api/logout',
                    success: function (result) {
                        alert(result);
                    }
                });
            });
        });

    </script>
</body>
</html>