<%- include('../header') %>
        <div class="content">
            <div class="row">
                <%- include('../left') %>
                <div class="right col-9" ng-controller="perMange">
                    <div class="container">
                        <div class="item-head border-bottom">
                            <div class="current">
                                分类管理
                            </div>
                        </div>
                        <div class="item-con">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header">
                                            资源列表
                                        </div>
                                        <div class="card-body">
                                            <ul id="treeDemo" class="ztree"></ul>
                                            <button onclick="tteest()" class="btn-sm btn-primary">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#logout').click(function () {
                $.ajax({
                    type: 'post',
                    url: '/api/logout',
                    success: function (result) {
                        alert(result);
                    }
                });
            });
        });
        blogAdmin.controller('perMange',function ($scope,$http) {
            var zTreeObj;
            var setting = {
                data: {
                    simpleData: {
                        enable: true, idKey: '_id'
                    }
                },
                edit: { enable: true },
                view: {
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom
                }
            };
            /*function addHoverDom(treeId, treeNode) {
                var sObj = $("#" + treeNode.tId + "_span");
                if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
                var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                    + "' title='add node' onfocus='this.blur();'></span>";
                sObj.after(addStr);
                var btn = $("#addBtn_"+treeNode.tId);
                if (btn) btn.bind("click", function(){
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.addNodes(treeNode, {id:uuid.v4(), pId:treeNode.id, name:"new node" + (newCount++)});
                    return false;
                });
            };*/
            $scope.tteest = function () {
                var zObj = $.fn.zTree.getZTreeObj('treeDemo');
                console.log(zObj.getNodes());
            }
            var newCount = 1;
            function addHoverDom(treeId, treeNode) {
                var sObj = $("#" + treeNode.tId + "_span");
                if ($("#addBtn_"+treeNode.tId).length>0) return;
                var editStr = "<span class='button add' id='addBtn_" +treeNode.tId+ "' onfocus='this.blur();' > </span>";
                sObj.append(editStr);
                var btn = $("#addBtn_"+treeNode.tId);
                if (btn) btn.bind("click", function(){
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.addNodes(treeNode, {id:uuidv4(), pId:treeNode._id, name:"new node" + (newCount++)});
                    return false;
                });
            };
            function removeHoverDom(treeId, treeNode) {
                $("#addBtn_"+treeNode.tId).unbind().remove();
            };
            $http.get('/api/perList')
                .success(function (data) {
                    $.fn.zTree.init($("#treeDemo"), setting, data);
                }).err(function (err) {

                });

        });
    </script>
</body>
</html>